<section class="collection-banner blog-banner">
        <figure>
            <img src="./asset/image/bb1.jpg" alt="">
        </figure>
        <div class="cb_main">
            <div class="container">
                <div class="cb_content">
                    <h1>ecoBlog</h1>
                    <p>Thorough pool care will ensure clean and safe water throughout the swimming season. </p>
                </div>

            </div>
        </div>
        <div class="bb-subscribe">
            <div class="container">
                <div class="bba-main">
                    <h4>Subscribe via Email</h4>
                    <p>Stay up to date with ecoBlog from GreatLake.</p>
                    <form action="#">
                        <input type="text" placeholder="Email Address">
                        <button type="submit" class="btn ">
                            Subscribe
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </section>
 
 {% schema %}
  {
    "name": "blog-banner",
    "settings": [],
      "presets": [
    {
      "name": "blog-banner ",
      "category": "ADVANCED LAYOUT"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}