 <section class="coll_filter">
        <div class="container">
            <div class="main_filter_part">
                <div class="fp_left">

                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M15.0962 25C13.9335 25 12.9839 24.0504 12.9839 22.8878V22.4008H0.809593C0.36523 22.4008 0 22.0355 0 21.5912C0 21.1407 0.36523 20.7816 0.809593 20.7816H12.9839V20.2946C12.9839 19.132 13.9335 18.1824 15.0962 18.1824H17.6954C18.858 18.1824 19.8076 19.132 19.8076 20.2946V20.7816H24.1904C24.6409 20.7816 25 21.1468 25 21.5912C25 22.0416 24.6348 22.4008 24.1904 22.4008H19.8076V22.8878C19.8076 24.0504 18.858 25 17.6954 25H15.0962ZM14.6092 23.3747H18.1824V19.8016H14.6092V23.3747ZM7.3046 15.9058C6.14195 15.9058 5.19235 14.9562 5.19235 13.7935V13.3065H0.809593C0.359143 13.3065 0 12.9413 0 12.497C0 12.0526 0.36523 11.6874 0.809593 11.6874H5.19235V11.2004C5.19235 10.0377 6.14195 9.08814 7.3046 9.08814H9.90382C11.0665 9.08814 12.0161 10.0377 12.0161 11.2004V11.6874H24.1904C24.6409 11.6874 25 12.0526 25 12.497C25 12.9474 24.6348 13.3065 24.1904 13.3065H12.0161V13.7935C12.0161 14.9562 11.0665 15.9058 9.90382 15.9058H7.3046ZM6.81763 14.2866H10.3908V10.7134H6.81763V14.2866ZM17.6954 6.81763C16.5327 6.81763 15.5831 5.86803 15.5831 4.70538V4.21841H0.809593C0.36523 4.21841 0 3.85926 0 3.40881C0 2.95836 0.36523 2.59922 0.809593 2.59922H15.5831V2.11225C15.5831 0.949598 16.5327 0 17.6954 0H20.2946C21.4512 0 22.4008 0.949598 22.4008 2.11225V2.59922H24.1843C24.6348 2.59922 24.9939 2.96445 24.9939 3.40881C24.9939 3.85318 24.6287 4.21841 24.1843 4.21841H22.4008V4.70538C22.4008 5.86803 21.4512 6.81763 20.2885 6.81763H17.6954ZM17.2084 5.19235H20.7816V1.62527H17.2084V5.19235Z"
                            fill="black" />
                    </svg>
                    <span>
                        <a href="#" class="filter">
                            Filter by
                        </a>
                    </span>

                </div>

                <div class="filter_part">
                    <div class="container">
                        <div class="f_main">
                            <div class="fl_part col fl_one col-xs-6">
                                <h6>
                                    Category

                                </h6>
                                <div class="f_option">
                                    <input type="checkbox" name="mycategory" id="category1" value="Dye">
                                    <label for="category1"><span class="checkbox-style"></span>Dye</label>
                                </div>
                                <div class="f_option">
                                    <input type="checkbox" name="mycategory" id="category2" value="Peristaltic-Pumps">
                                    <label for="category2"><span class="checkbox-style"></span>Peristaltic Pumps</label>

                                </div>
                            </div>
                            <div class="fl_part col fl_sec col-xs-6">
                                <h6>
                                    Issue
                                </h6>
                                <div class="f_option">
                                    <input type="checkbox" name="myIssue" id="Issue1" value="Algae / Excess Nutrients">

                                    <label for="Issue1"><span class="checkbox-style"></span>Algae / Excess
                                        Nutrients</label>
                                </div>

                                <div class="f_option">
                                    <input type="checkbox" name="myIssue" id="Issue2" value="Ammonia">

                                    <label for="Issue2"> <span class="checkbox-style"></span>Ammonia</label>
                                </div>
                                <div class="f_option">
                                    <input type="checkbox" name="myIssue" id="Issue3" value="Foaming">

                                    <label for="Issue3"> <span class="checkbox-style"></span>Foaming</label>
                                </div>
                                <div class="f_option">
                                    <input type="checkbox" name="myIssue" id="Issue4"
                                        value="Microbial / Biological Activity">

                                    <label for="Issue4"> <span class="checkbox-style"></span>Microbial / Biological
                                        Activity</label>
                                </div>
                                <div class="f_option">
                                    <input type="checkbox" name="myIssue" id="Issue5" value="Mold & Mildew">

                                    <label for="Issue5"> <span class="checkbox-style"></span>Mold & Mildew</label>
                                </div>
                                <div class="f_option">
                                    <input type="checkbox" name="myIssue" id="Issue6" value="Odor">

                                    <label for="Issue6"> <span class="checkbox-style"></span>Odor</label>
                                </div>
                                <div class="f_option">
                                    <input type="checkbox" name="myIssue" id="Issue7" value="Sludge & Muck">

                                    <label for="Issue7"><span class="checkbox-style"></span>Sludge & Muck</label>
                                </div>
                                <div class="f_option">
                                    <input type="checkbox" name="myIssue" id="Issue8" value="Trace Minerals">

                                    <label for="Issue8"> <span class="checkbox-style"></span>Trace Minerals</label>
                                </div>
                                <div class="f_option">
                                    <input type="checkbox" name="myIssue" id="Issue9" value="Water Clarity">

                                    <label for="Issue9"><span class="checkbox-style"></span>Water Clarity</label>
                                </div>
                                <div class="f_option">
                                    <input type="checkbox" name="myIssue" id="Issue10" value="Water Quality">

                                    <label for="Issue10"> <span class="checkbox-style"></span>Water Quality</label>
                                </div>


                            </div>
                            <div class="fl_part col fl_third col-xs-6">
                                <h6>
                                    Powered By

                                </h6>
                                <div class="f_option">
                                    <input type="checkbox" name="mycategory" id="by1" value="Bacteria">

                                    <label for="by1"> <span class="checkbox-style"></span>Bacteria</label>
                                </div>
                                <div class="f_option">
                                    <input type="checkbox" name="mycategory" id="by2" value="Barley Straw">

                                    <label for="by2"><span class="checkbox-style"></span>Barley Straw</label>
                                </div>
                                <div class="f_option">
                                    <input type="checkbox" name="mycategory" id="by3" value="Dye">

                                    <label for="by3"><span class="checkbox-style"></span>Dye</label>

                                </div>
                                <div class="f_option">
                                    <input type="checkbox" name="mycategory" id="by4" value="Peristaltic-Pumps">

                                    <label for="by4"> <span class="checkbox-style"></span>Enzymes</label>

                                </div>
                                <div class="f_option">
                                    <input type="checkbox" name="mycategory" id="by5" value="Peristaltic-Pumps">

                                    <label for="by5"><span class="checkbox-style"></span>Trace Minerals</label>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>



                <div class="fp_right">
                    <label for="Sort by:">Sort by:</label>
                    <select name="feature" id="#">
                        <option value="Featured">Featured</option>
                        <option value="Feature">Feature</option>
                        <option value="Featureds">Featureds</option>
                    </select>

                </div>
            </div>
        </div>
    </section>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}