@font-face {
    font-family: 'Museo Sans 100';
    src: url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/MuseoSans-100.woff2?v=1664536582') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/MuseoSans-100.woff?v=1664536582') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans 300';
    src: url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/MuseoSans-300.woff2?v=1664536582') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/MuseoSans-300.woff?v=1664536582') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans 500';
    src: url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/MuseoSans-500.woff2?v=1664536582') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/MuseoSans-500.woff?v=1664536582') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans 700';
    src: url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/MuseoSans-700.woff2?v=1664536582') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/MuseoSans-700.woff?v=1664536582') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/AvenirNextCyr-Demi.eot?v=1664536582');
    src: url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/AvenirNextCyr-Demi.eot?v=1664536582') format('embedded-opentype'),
        url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/AvenirNextCyr-Demi.woff2?v=1664536582') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/AvenirNextCyr-Demi.woff?v=1664536582') format('woff'),
        url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/AvenirNextCyr-Demi.ttf?v=1664536582') format('truetype'),
        url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/AvenirNextCyr-Demi.svg?v=1664536583') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/AvenirNextCyr-Medium.eot?v=1664536582');
    src: url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/AvenirNextCyr-Medium.eot?v=1664536582') format('embedded-opentype'),
        url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/AvenirNextCyr-Medium.woff2?v=1664536582') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/AvenirNextCyr-Medium.woff?v=1664536583') format('woff'),
        url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/AvenirNextCyr-Medium.ttf?v=1664536582') format('truetype'),
        url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/AvenirNextCyr-Medium.svg?v=1664536583') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/AvenirNextCyr-Regular.eot?v=1664536582');
    src: url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/AvenirNextCyr-Regular.eot?v=1664536582') format('embedded-opentype'),
        url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/AvenirNextCyr-Regular.woff2?v=1664536582') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/AvenirNextCyr-Regular.woff?v=1664536582') format('woff'),
        url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/AvenirNextCyr-Regular.ttf?v=1664536582') format('truetype'),
        url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/AvenirNextCyr-Regular.svg?v=1664536582') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on October 25, 2018 */

@font-face {
    font-family: 'helveticaregular';
    src: url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/helvetica.woff2?v=1664536582') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/helvetica.woff?v=1664536583') format('woff');
    font-weight: normal;
    font-style: normal;    
    font-family: 'helveticaregular';

}              

@font-face {
    font-family: 'helveticabold';
    src: url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/helvetica-bold.woff2?v=1664536582') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/helvetica-bold.woff?v=1664536583') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticabold_oblique';
    src: url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/helvetica-boldoblique.woff2?v=1664536582') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/helvetica-boldoblique.woff?v=1664536582') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaoblique';
    src: url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/helvetica-oblique.woff2?v=1664536583') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/helvetica-oblique.woff?v=1664536583') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/Poppins-Medium.woff2?v=1664950048') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/Poppins-Medium.woff?v=1664950048') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/Poppins-Light.woff2?v=1664950048') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/Poppins-Light.woff?v=1664950048') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/Poppins-Bold.woff2?v=1664950048')  format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/Poppins-Bold.woff?v=1664950048')  format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/Poppins-SemiBold.woff2?v=1664950048') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/Poppins-SemiBold.woff?v=1664950048')  format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/Poppins-Regular.woff2?v=1664950048')  format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/Poppins-Regular.woff?v=1664950048')  format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Rubik';
    src: url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/Rubik-Black.woff2?v=1664951019') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/Rubik-Black.woff?v=1664951019') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/Rubik-Bold.woff2?v=1664951019') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/Rubik-Bold.woff?v=1664951019') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/Rubik-Light.woff2?v=1664951019') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/Rubik-Light.woff?v=1664951019') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/Rubik-Medium.woff2?v=1664951019') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/Rubik-Medium.woff?v=1664951019') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/Rubik-Regular.woff2?v=1664951019') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/Rubik-Regular.woff?v=1664951019') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Karla';
    src: url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/Karla-Bold.woff2?v=1664951334') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/Karla-Bold.woff?v=1664951334') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/Karla-Regular.woff2?v=1664951334') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0313/4328/0264/files/Karla-Regular.woff?v=1664951334') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




